* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
	/* min-width: 100%;*/
}
button {
	border: none;
	cursor: pointer;
}

h1,
h2,
p,
a,
button {
	color: black;
}

@font-face {
	font-family: "Lato";
	src: url(./font/Lato-Regular.ttf);
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.head {
	background: #222222;
}
.header_content {
	display: flex;
	justify-content: space-between;
	align-content: center;
	background: #222222;
}

.header_content_left {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 47px;
	padding-top: 18px;
	padding-left: 1px;
	padding-bottom: 20px;
}
.header_content_right {
	display: flex;
	justify-content: flex-start;

	gap: 32px;
	padding-top: 26px;
	padding-right: 1px;
	padding-bottom: 20px;
}

.btn_left {
	background-color: transparent;
	border: 0px;
}

.btn_right {
	background-color: transparent;
	border: 0px;
}

.max{
    max-width: 1600px;
}
.main {
	background: #f1e4e6;
}

.main_section {
	background: #f1e4e6;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	gap: 63.42px;
}

.main_content_right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-left: 12px solid #f16d7f;
	padding-left: 16px;
}
.main_content_right h1 {
	font-family: Lato;
	font-weight: 900;
	font-size: 48px;
	line-height: 57.6px;
}
.main_content_right h2 {
	font-family: Lato;
	font-weight: 700;
	font-size: 32px;
	line-height: 38.4px;
}
.color_text {
	color: #f16d7f;
}


.category_tab{
    background-color: white;
}

.tab_values{
    padding-top: 65px;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 30px;
	padding-bottom: 96px;
}
.background_img_1{
    width: 360px;
    height: 260px;
    background-image:url(./img/top_block_1.png);
}
.background_img_2{
    width: 360px;
    height: 260px;
    background-image:url(./img/top_block_2.png);
}
.background_img_3{
    width: 360px;
    height: 260px;
    background-image:url(./img/top_block_3.png);
}

.background_img_4{
    width: 1140px;
    height: 180px;
    background-image:url(./img/top_block_4.png);
}
.big_card{
    grid-column: span 3;
	grid-row: span 1;
}

.shadow{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;
    background:rgba(33, 22, 22, 0.7);
}
.shadow h1{
    font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	line-height: 19.2px;
    color:rgba(255, 255, 255, 1);
}
.shadow h2{
    font-family: Lato;
	font-weight: 700;
	font-size: 24px;
	line-height: 28.8px;
    color:rgba(241, 109, 127, 1);
}

.fetured{
	background-color: white;
}
.fetured_tab{
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 60px;
}

.fetured_tab h1{
    font-family: Lato;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
    color:rgba(34, 34, 34, 1);
	margin-bottom: 6px;
}
.fetured_tab h2{
	font-family: Lato;
	font-weight: 400;
	font-size: 14px;
	line-height: 16.8px;
    color:rgba(34, 34, 34, 1);
	margin-bottom: 48px;
}

.fetured_tab_content{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 30px;
	padding-bottom: 48px;
}

.fetured_card {
	background: rgba(248, 248, 248, 1);
}
.fetured_card h1{
	font-family: Lato;
	font-weight: 400;
	font-size: 13px;
	line-height: 15.6px;
    color:black;
	margin-top: 25px;
	margin-left: 16px;
	margin-bottom: 16px;
}
.fetured_card p{
	font-family: Lato;
	font-weight: 300;
	font-size: 14px;
	line-height: 16.8px;
    color:#5D5D5D;
    margin-left: 16px;
	margin-right: 29.26px;
	margin-bottom: 16px;
}
.fetured_card h2{
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
	line-height: 19.2px;
    color:rgba(241, 109, 127, 1);
	margin-left: 16px;
	margin-bottom: 24px;
}

.fetured_tab button{
	padding: 15px 39px;
	color:#F26376;
	border: 1px solid #F26376;
	background-color: white;
}